.list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    overflow-y: scroll;
    padding: 20px 0;
    flex:1
}
.book-list-container{
    max-height: 45vh;
    display: flex;
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px) {
    .list{
        grid-template-columns: 1fr;
    }
    .book-list-container{
        max-height: 90vh;
    }
}