.book-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.book-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-stats{
    display: flex;
    justify-content: space-around;
    gap: 10px 20px;
}
.book-info{
    height: 400px;
    overflow-y: scroll;
}
.book-cover{
    width: 300px;
    height: 300px;
}
.reviews-container{
    margin-top: 30px;
}
@media screen and (max-width:780px) {
    .book-container{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:430px) {
    .book-cover{
        width: 250px;
        height: 250px;
    }
}