<div mat-dialog-content>
  <div *ngIf="book$ | async as book; else loading">
      <div class="book-container">
        <div class="book-container-left">
          <img alt="" [src]="sanitizeImage(book.cover)" class="book-cover">
          <div class="book-stats">
            <span>Rating:{{book.rating}}</span>
            <span>Reviews:{{book.reviews.length}}</span>
          </div>
        </div>
        <div class="book-info">
          <h1>{{book.title}}</h1>
          <h4>{{book.author}}, {{book.genre}}</h4>
          <p>{{book.content}}</p>
        </div>
      </div>
      <mat-divider/>
      <div class="reviews-container">
        <span *ngIf="book.reviews.length==0; else reviews">No reviews :(</span>
        <ng-template #reviews>
          <div *ngFor="let review of book.reviews">
            <div>
              <h2>{{review.reviewer}}</h2>
              <p>{{review.message}}</p>
            </div>
          </div>
        </ng-template>
      </div>
  </div>
  
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Close</button>
</div>

<ng-template #loading>
  <div class="spinner-container">
      <mat-spinner></mat-spinner>
  </div>
</ng-template>